name: deploy-production

on:
  push:
    branches:
      - main
jobs:
  deploy-production:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Deploy Production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd /home/domain.com
            git switch main && git pull origin main
            cd /home/domain.com/deploy
            chmod +x production.sh && ./production.sh
            chmod -x production.sh